<turbo-frame id="navbar" target='body'>
  <%
      ary = [
        { controller: "inspections", text: "Inspections", path: inspections_path},
        { controller: "customers", text: "Customers", path: customers_path},
        { controller: "machines", text: "Machines", path: machines_path},
        { controller: "tasks", text: "Tasks", path: tasks_path},
        { controller: "logs", text: "Logs", path: logs_path}
      ]
    %>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <nav x-model="controller"
       x-model="open"
       x-data="{ open: false, controller: '<%= controller_name %>' }" class="bg-gray-800" >
       <%= render partial: "shared/desktop_navbar", locals: { ary: ary } %>
       <%= render partial: "shared/mobile_navbar", locals: {ary: ary} %>
  </nav>
</turbo-frame>

