| <div id="
= dom_id customer_machine
| "> 
p.my-5
  strong.block.font-medium.mb-1
    | Machine name:
  = customer_machine.machine.name
p.my-5
  strong.block.font-medium.mb-1
    | Serial number:
  = customer_machine.serial_number
- if false && action_name != "show"
  = link_to "Show this customer machine", customer_machine, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to 'Edit', edit_customer_machine_path(customer_machine), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
  hr.mt-6
