turbo-frame#page-content
  .mx-auto.md:w-2/3.w-full

  h1.font-bold.text-4xl
    | Editing customer machine
  = render "form", customer_machine: @customer_machine
  = link_to "Show this customer machine", @customer_machine, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to customer", edit_customer_path(@customer_machine), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
