<turbo-frame id="page-content"
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New customer machine</h1>

  <%= render "form", customer: @customer, customer_machine: @customer_machine %>

</div>
</turbo-frame>
